In [1]:
import numpy as np

In [2]:
hairstyles = np.array(["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"])
prices = np.array([30, 25, 40, 20, 20, 35, 50, 35])
last_week = np.array([2, 3, 5, 8, 4, 4, 6, 2])

In [3]:
total_price = 0
for price in prices:
    total_price +=price

In [4]:
average_price = total_price/len(prices)

print("Average price is ",average_price)

Average price is  31.875

In [5]:
new_prices = prices -5

print(new_prices)

[25 20 35 15 15 30 45 30]

In [6]:
total_revenue = 0
for i in range(0,len(hairstyles)):
    total_revenue += prices[i] * last_week[i]
print(total_revenue)

1085

In [7]:
average_daily_revenue = total_revenue / 7

print("Average daily revenue is ", average_daily_revenue)

Average daily revenue is  155.0

In [8]:
cuts_under_30 = np.array([hairstyles[i] for i in range(len(hairstyles)) if prices[i]<=30 ])

print(cuts_under_30)

['bouffant' 'pixie' 'crew' 'bowl']